<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
     
       <!-- now it is smoke test because we are executing few test at high level -->
      <class name="qaclickacademy.SeleniumTest"/>
      <class name="qaclickacademy.RESTAPITest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
